@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  overflow: auto; /* Allow scrolling if content overflows */
}

body {
  background-color: #101828;
  padding-bottom: calc(constant(safe-area-inset-bottom) + 20px); /* Fallback for older iOS */
  padding-bottom: calc(env(safe-area-inset-bottom) + 20px); /* For newer iOS */
}
